
.packs{
    height: 100%;

}

.grid{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    gap: 2.5rem;
    padding-bottom: 20px;
}

.pack_content{
    background-color: var(--color-secondary);
    padding-bottom: 100px;
    border-radius:  5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.534);
    transition: all .5s;
    cursor: pointer;
    position: relative;
}
.pack_content:hover{
    scale: 1.08;
}

.pack_content h1{
    background:linear-gradient(to bottom,var( --color-sixth), var(--color-secondary));
    padding-bottom: 80px;
    padding-top: 20px;
    color: black;
    text-transform: uppercase;
    z-index: 100;
}
/* .pack_content:nth-child(2):after{
    content: "";
    width: 130px;
    height:130px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-third);
    clip-path: ellipse(80px 80px at 100% 0%);
    z-index: 1;
} */

.buy_btn{
    background-color: var(--color-third);
}
.plan{
    background-color: var(--color-praimary);
    margin-top: 8rem;
}

.plan svg{
    background-color: #0c081b;
}

@media (max-width:991.98px)  {
    .grid{
        flex-direction: column;
        margin-inline: 20px;
    }
}